$primary: rgba(28, 82, 244, 1);
$primary-25: rgba(62, 110, 255, 1);
$primary-50: rgba(102, 138, 248, 1);

$warning: rgba(173, 102, 7, 1);
$warning-25: rgba(235, 153, 63, 1);
$warning-50: rgba(255, 220, 190, 1);

$error: #BA1A1A;
$error-25: #FF5449;
$error-50: #FFB4AB;

$success: #008B0E;
$success-25: #26CC37;
$success-50: #71FF7F;

$natural: #596173;
$natural-25: #929AAB;
$natural-50: #D7DAE0;

$light: #ffffff;
$disabled: #474A52;
$disabled-darker: #34373D;
